<a href="https://colab.research.google.com/github/Cihanonay/PYTH225_Homework/blob/master/Copy_of_PYTH225_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

In [0]:
a = None 
print(a)

None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.



# Create another variable that represents your favorite color, and do the same steps as above.

In [0]:
My_favorite_number = 3
print(My_favorite_number)

my_favorite_color = 'Red'
print(my_favorite_color)

3
Red



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

In [0]:
num_bottles = 99
lyrics = f"""
{num_bottles} bottles of beer on the wall,
Take one down,
Pass it around,
{num_bottles -1 } bottles of beer on the wall.
"""
print(lyrics)

99 bottles of beer on the wall,
Take one down,
Pass it around,
98 bottles of beer on the wall.

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

numb1=latest_score+50
print(latest_score+50)

# Subtract 90

numb2=(numb1-90)
print(numb1-90)

# Multiply 10

numb3=(numb2*10)
print(numb2*10)

# Divide 150

numb4=(numb3/150)
print(numb3/150)

# Modulus 3

numb5=(numb4%3)
print(numb4%3)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

In [0]:
a='Im gonna learn'
b='Python'
print(a+b)

Im gonna learnPython



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

a=0
b=2
print(a+b)

# B)
c = '0'
d = '2'

c='0'
d='2'
print(c+d)

# C)
e = '0'
f = 2

2
02



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.
#Dog ='Chop'
# A)
a = True
b = True

good_to_play_with_ball= True
he_like_to_play_catch= True



# B)
c = False
d = False

good_with_every_bady= False
good_with_other_alians= False


# C)
e = True
f = False

vaccinated= True
Died= False

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

In [18]:
five = float(5)
print(five)
print(type(five))
five = int(5.0)
print(five)
print(type(five))

5.0
<class 'float'>
5
<class 'int'>

In [17]:
zero = float(0)
print(zero)
print(type(zero))
zero = int(0.0)
print(zero)
print(type(zero))

0.0
<class 'float'>
0
<class 'int'>

In [15]:
neg_8 = float(-8)
print(neg_8)
print(type(neg_8))
neg_8 = int(-8.0)
print(neg_8)
print(type(neg_8))

-8.0
<class 'float'>
-8
<class 'int'>

In [13]:
neg_22 = float(-22)
print(neg_22)
print(type(neg_22))
neg_22 = int(-22.0)
print(neg_22)
print(type(neg_22))

-22.0
<class 'float'>
-22
<class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

In [23]:
five = str(5)
print(five)
print(type(five))
five = int(5)
print(five)
print(type(five))

5
<class 'str'>
5
<class 'int'>

In [33]:
zero = str(0)
print(zero)
print(type(zero))
zero = int(0)
print(zero)
print(type(zero))

0
<class 'str'>
0
<class 'str'>

In [34]:
neg_8 = str(-8)
print(neg_8)
print(type(neg_8))
neg_8 = int(-8)
print(neg_8)
print(type(neg_8))

-8
<class 'str'>
-8
<class 'int'>

In [35]:
T = str(-8)
print(True)
print(type(T))
T = int(-8)
print(True)
print(type(T))

True
<class 'str'>
True
<class 'int'>

In [36]:
F = str(-8)
print(False)
print(type(F))
F = int(-8)
print(False)
print(type(F))

False
<class 'str'>
False
<class 'int'>

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

In [87]:
# A
one = 1
zero = 0
print(bool(one))
print(bool)
print(bool(zero))
print(bool)
print(bool(1))
print(bool)
print(bool(0))
print(bool)

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>

In [85]:
# B
print(float(True))
print(float)
print(float(False))
print(float)

1.0
<class 'float'>
0.0
<class 'float'>

In [88]:
# C
print(bool(1.0))
print(bool)
print(bool(0.0))
print(bool)

True
<class 'bool'>
False
<class 'bool'>

In [100]:
# D
print(int(True))
print(int(False))

1
0

In [104]:
# E 
ten = 10 
print(bool(10))
print(bool(ten))

True
True



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

In [111]:
#A
print(bool(1))
print(bool)
print(bool(0))
print(bool)
print(bool(True))
print(bool)
print(bool(False))
print(bool)

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>

In [116]:
#B
print(int(True))
print(int)
print(int(False))
print(int)

1
<class 'int'>
0
<class 'int'>

In [117]:
#C
print(bool(True))
print(bool)
print(bool(False))
print(bool)

True
<class 'bool'>
False
<class 'bool'>

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = "egg"
item_name_2 = "milk"
item_name_3 = "banana"
item_name_4 = "bread"
item_name_5 = "chips"

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = "$3.99"
item_price_2 = "$2.99"
item_price_3 = "$3.99"
item_price_4 = "$3.99"
item_price_5 = "$4.99"

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = "2"
item_quant_2 = "1"
item_quant_3 = "6"
item_quant_4 = "1"
item_quant_5 = "1"

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input("Name your first item: ")
item_name_2 = input("Name your second item: ")
item_name_3 = input("Name your third item: ")
item_name_4 = input("Name your fourth item: ")
item_name_5 = input("Name your fifth item: ")

# use input() function and ask user to name prices
item_price_1 = input("Price your first item: ")
item_price_2 = input("price your second item: ")
item_price_3 = input("price your third item: ")
item_price_4 = input("price your fourth item: ")
item_price_5 = input("price your fifth item: ")

# use input() function and ask user to name quants
item_quant_1 = input("quant your first item: ")
item_quant_2 = input("quant your second item: ")
item_quant_3 = input("quant your third item: ")
item_quant_4 = input("quant your fourth item: ")
item_quant_5 = input("quant your fifth item: ")

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

Name your first item: egg
Name your second item: milk
Name your third item: banana
Name your fourth item: bread
Name your fifth item: chips
Price your first item: $3.99
price your second item: $2.99
price your third item: $3.99
price your fourth item: $3.99
price your fifth item: $4.99
quant your first item: 2
quant your second item: 1
quant your third item: 6
quant your fourth item: 1
quant your fifth item: 1