<a href="https://colab.research.google.com/github/Cihanonay/PYTH225_Homework/blob/master/Homework_3_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.


# Print the 4th animal on the list.


# Add 'tortoise' to the beginning of the list.


# Print the length of the list.


# Remove 'orangutan' from the list.


# Sort the list alphabetically and print it out.

In [59]:
animals = ('elephant', 'tiger', 'otter', 'orangutan', 'penguin')
print(animals)
print(animals[3])
animals = ['elephant', 'tiger', 'otter', 'orangutan', 'penguin']
animals.insert(0,'tortoise')
print(animals)
print(f'{len(animals)}')
animals=['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
remove_from_animals = animals.pop(4)
print(animals)
animals = ['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
animals.sort()
print(animals)

('elephant', 'tiger', 'otter', 'orangutan', 'penguin')
orangutan
['tortoise', 'elephant', 'tiger', 'otter', 'orangutan', 'penguin']
6
['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = None

# Print the 3rd name on the list



# Delete the first name on the list



# Re-add the name you deleted to the end of the list



# Replace the 2nd name on the list with a new name.



# Add 3 new names to the end of the list.

In [18]:
names = ['david', 'eduardo', 'elizabeth', 'lily', 'tom'] 
print(names) 
print(names[2])
names=['david', 'eduardo', 'elizabeth', 'lily', 'tom']
remove_from_names = names.pop(0)
print(names)
names = ['eduardo', 'elizabeth', 'lily', 'tom']
names.insert(4, 'david')
print(names)
names[2] = 'isac'
print(names)
names = ['eduardo', 'elizabeth', 'lily', 'tom', 'david']
names.extend(("jason", "andy", "jack"))
print(names)

['david', 'eduardo', 'elizabeth', 'lily', 'tom']
elizabeth
['eduardo', 'elizabeth', 'lily', 'tom']
['eduardo', 'elizabeth', 'lily', 'tom', 'david']
['eduardo', 'elizabeth', 'isac', 'tom', 'david']
['eduardo', 'elizabeth', 'lily', 'tom', 'david', 'jason', 'andy', 'jack']



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = None

# Print the max of `numbers`.


# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.



# Pop the second number in `numbers` off.



# Append `3` to `numbers`.


# Print out the average number.

In [85]:
numbers =('2', '4', '6', '8')
print(f'{max(numbers)}') 
numbers = ['2', '4', '6', '8']
remove_the_last_number = numbers.pop(3)
print(f'{remove_the_last_number} has left the list.')
print(numbers)
numbers.insert(2, 8)
print(numbers)
numbers.append(3)
print(numbers)

8
8 has left the list.
['2', '4', '6']
['2', '4', 8, '6']
['2', '4', 8, '6', 3]



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.



# Now do the reverse.

In [90]:
playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']
playlist_titles.sort()
print(playlist_titles)
playlist_titles.sort(reverse = True)
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

In [92]:
numbers = ('3', '5' ,'9', '10', '16', '20')
descending = sorted(numbers, reverse = True)
print(descending)

['9', '5', '3', '20', '16', '10']

## LIST MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'

In [50]:
cell = '1.192.168.0143'

temp = cell.split(".")
tempstring = ""
for i in range(lenght(temp)):
temp = 
tempstring + temp[i]:

print(temp)

IndentationError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 71



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]


# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = None


# B) Combine the two given lists and assign them to list4.
list4 = None


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:2] = None

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = None


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

In [17]:
list1 = [2, 8, 6] 
list2 = [10, 4, 12]
result = [None]*(len(list1)+len(list2))
result[::2] = list1
result[1::2] = list2
print(list3)

[2, 10, 8, 4, 6, 12]



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

In [30]:
cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]
cool_runnings.sort()
print(cool_runnings)
cool_runnings[4] = 'YOLO'
print(cool_runnings)

['Feel', 'Feel', 'Get', "It's", 'bobsled', 'on', 'rhyme.', 'rhythm.', 'the', 'the', 'time!', 'up.']
['Feel', 'Feel', 'Get', "It's", 'YOLO', 'on', 'rhyme.', 'rhythm.', 'the', 'the', 'time!', 'up.']

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

In [29]:
list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

list1 +(tuple1)

[6, 12, 9, 4, 10, 1, (15, 3), (6, 2), (1, 8)]



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]


# Once you finish, print out each value **on its own line** in this format: "median = " etc.



# Compute and print various statistics

In [21]:

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]
import scipy.stats
import numpy as np
import statistics
mean1 = statistics.mean(sample)
print(mean1)
median1 = statistics.median(sample)
print(median1)
mode1 = statistics.mode(sample)
print(mode1)
variance1 = statistics.variance(sample)
print(variance1)
print('Standard Deviation:', np.std(sample))

17.8
19.5
6
84.17777777777778
Standard Deviation: 8.704022058795578